@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
*{
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}
p,b{
    margin: 2px;
    font-size: 18px;
}

.fonts{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    text-align: center;
}

.font{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.font-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

.font-2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

.main{

    width: 240mm;
    /*height: 290mm;*/
    display: flex;
    flex-direction: row;
    /*background: url('/bg.jpg');*/
    /*background-repeat: no-repeat, repeat;*/
    /*background-position: center;*/
    /*background-size: cover*/
    /*border: 1px solid #ccc;*/
}

.row{
    position: relative;
    width: 120mm;
    height: 92mm;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    border: 1px solid #ccc;
    padding: 4px;
    background: url('/bg.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.row-2{
    width: 100%;
    height: 47mm;
    display: flex;
    flex-direction: row;
}

.img {
    margin: 4px;
    min-width: 36mm;
    min-height: 47mm;
    border: 1px solid #ccc;
}

.title {
    text-align: center;
    color: #0a58ca;
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 22px;
}

.title-2{
    text-align: center;
    font-size: 1.1em;
    font-family: 'Times New Roman', Times, serif;
}


.top{
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.font2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}
